<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <!-- Configure site to serve JSON files -->
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <!-- Configure site to serve font files -->
            <remove fileExtension=".otf" />
            <mimeMap fileExtension=".otf" mimeType="font/otf" />

            <!-- True Type Fonts -->
            <remove fileExtension=".ttf" />
            <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />

            <!-- WebAssembly -->
            <remove fileExtension=".wasm" />
            <mimeMap fileExtension=".wasm" mimeType="application/wasm" />

            <!-- Web Open Font Format -->
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />

            <!-- WOFF File Format 2.0 -->
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />

            <!-- Supports SceneView's stars visualization -->
            <remove fileExtension=".wsv" />
            <mimeMap fileExtension=".wsv" mimeType="application/octet-stream" />

            <!-- Fonts for MapView labeling for some layers -->
            <remove fileExtension=".pbf" />
            <mimeMap fileExtension=".pbf" mimeType="application/x-protobuf" />
        </staticContent>
    </system.webServer>

    <location path="index.html">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:01:00" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="cdn">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
            </staticContent>
        </system.webServer>
    </location>
</configuration>
